.homeButton {
	@mixin smaller-than $mantine-breakpoint-md {
		opacity: 0;
		display: none;
	}
}
.cardGroup {
	@mixin smaller-than rem(850) {
		flex-direction: column;
		margin: 0 auto;
	}
}
.categoryImage {
	filter: rop-shadow(rem(-2) rem(8) rem(8) var(--mantine-color-mid-gray));
	@mixin hover {
		filter: drop-shadow(rem(-2) rem(8) rem(8) lighten(var(--mantine-color-blue), 0));
	}
}
.header {
	justify-content: center;
}
